modules = ["python-3.12", "web", "nix"]
run = "python3 tookie-osint -w"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "static"
publicDir = "./webui"
run = ["sh", "-c", "python3 tookie-osint -w"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
